<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="https://www.facebook.com/Sudharson2706?mibextid=ZbWKwL" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="https://github.com/VSudharson" class="me-4 text-reset"><i class="fa fa-github"></i></a>
            <a href="https://www.instagram.com/sudharson__2706?igsh=MW0zaDRlbm1mZGlt" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/sudharson-v/" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i> Shopkart</h6>
                    <p>
                        shopkart.com is a one stop destination for your family's fashion needs.
                        We give you the opportunity to give your wardrobe a makeover with the latest collections from our top brands.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="{% url 'collections' %}" class="text-reset">Mobiles</a></p>
                    <p><a href="{% url 'collections' %}" class="text-reset">Fashions</a></p>
                    <p><a href="{% url 'collections' %}" class="text-reset">Electronics</a></p>
                    <p><a href="{% url 'collections' %}" class="text-reset">Skin Care</a></p>
                    <p><a href="{% url 'collections' %}" class="text-reset">Home Appliances</a></p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"> Contact</h6>
                    <p><i class="fa fa-home"></i> 1/119, Katcheri Street, Palayakayal, Thoothukudi</p>
                    <p><i class="fa fa-envelope"></i> balajisudharson99@gmail.com</p>
                    <p><i class="fa fa-phone"></i> +91 8610120963</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4">
        &copy; 2024 Copyright <a class="text-reset fw-bold" href="https://shopkart.in/"> shopkart.in</a>
    </div>
</footer>